<div class = 
"min-w-screen min-h-screen
bg-teal-900
flex place-items-center
px-5 py-5">

  <div class = "w-full
    mx-auto
    rounded-xl
    shadow-xl
    bg-red-500" 
    style="max-width: 600px;">

    <header class="flex place-content-center h-10 text-2xl font-bold">
      <h1>Angular To-do List</h1>
    </header>

    <div class = 
      "py-5 mx-auto
      bg-white
      rounded-b-xl
      flex place-content-center"
      style="min-height: 700px;">
      <app-todos></app-todos>
      
    </div>

  
  </div>

</div>